{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false,
        "useBuiltIns": "usage",
        "targets": {}
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [["@babel/preset-env"]]
    }
  }
}
